.home .entry-title {
	display: none;
}

.home_hero {
  position: relative;
  text-align: center;

	@media screen and (min-width: 30em) {
		margin: 0 12px;
	}
	@media screen and (min-width: 48em) {
		margin: 0 24px;
	}
}

.home_banner img {
  width: 100vw;
  height: auto;
	max-height: 65vh;
	min-height: 14em;
	object-fit: cover;

	@media screen and (min-width: 30em) {
		border-radius: 3.5px;
	}
	@media screen and (min-width: 48em) {
		border-radius: 7.5px;
	}
	@media screen and (min-width: 120em) {
		width: 117em;
	}
}

.slogan {
  position: absolute;
  top: 2%;
  left: 4%;
  transform: rotate(-7deg);
	font-family: $font__h;
	font-size: $font__size-small;
	color: $color__text-header;
	background-color: $color__background-toggled-header;
	white-space: nowrap;
	padding: 0.65em 1.8em;
	border-radius: 500px 200px 500px 100px / 550px 30px 500px 20px;
	text-transform: uppercase;
	border-bottom: 4px solid $color__text-body;
	border-top: 2px solid $color__background;
	z-index: 10;
	@media screen and (min-width: 48em) {
		top: 7%;
  	left: 9%;
	}
	@media screen and (min-width: 64em) {
		font-size: $font__size-paragraph;
		top: 12%;
  	left: 14%;
	}
	@media screen and (min-width: 100em) {
		font-size: $font__size-title;
		top: 2%;
  	left: 4%;
	}
	@media screen and (min-width: 120em) {
		font-size: $font__size-hero;
	}

}

.blurb {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: $font__h;
	font-size: $font__size-paragraph;
	color: $color__text-header;
	background-color: $color__background-toggled-header;
	box-shadow: 2px 2px $color__text-body;
	border-top: 1px solid $color__background;
	border-left: 1px solid $color__background;
	padding: 0.5em 1.15em;
	max-height: 8em;
	width: 80%;
	overflow: hidden;
	z-index: 1;

	@media screen and (min-width: 64em) {
		width: 50%;
		max-height: 10em;
	}
	@media screen and (min-width: 100em) {
	font-size: $font__size-title;
	}
}

.home_cta {
  position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: $color__background;
	border: 2px solid $color__text-body;
	border-radius: 3px;
	padding: 0.25em 0.5em;
	z-index: 20;
	@media screen and (min-width: 30em) {
		padding: 0.48em 0.75em;
		bottom: 20px;
		right: 50px;
	}
	@media screen and (min-width: 48em) {
		bottom: 20px;
		right: 50px;
	}
	@media screen and (min-width: 64em) {
		bottom: 50px;
		right: 175px;
		font-size: $font__size-paragraph;
	}
}

.cta_link {
	text-decoration: none;
	text-transform: uppercase;
	color: $color__text-body;
}

.cta_text {
	margin: 0;
}

.featured_products,
.home_subscription {
  background-color: $color__background;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	@media screen and (min-width: 48em) {
		width: 85%;
	}
	@media screen and (min-width: 64em) {
		width: 75%
	}
	@media screen and (min-width: 100em) {
		width: 65%
	}
	@media screen and (min-width: 120em) {
		width: 55%
	}
}