/* footer styles */
.site-footer {
    background-color: $color__brand-color; 
    color: $color__text-footer;
    padding: 20px 10px; /* horizontal padding for mobile */
    text-align: center;
    
}

.site-footer h2 {
    margin-bottom: 15px;
    color: $color__text-footer;
    
}

.site-footer a {
    color: $color__text-footer;
    text-decoration: none;
}

.site-footer a:hover {
    text-decoration: underline;
}

.site-footer .contact-us,
.site-footer .delivery-areas {
    margin-bottom: 20px;
}

.footer_email,
.footer_address,
.footer_phone,
.footer_delivery {
    margin: 10px 0;
}

/* responsive styles */
@media (min-width: 768px) {
    .site-footer {
        text-align: left; 
        padding: 40px 20px; 
    }

    .site-footer .contact-us,
    .site-footer .delivery-areas {
        display: inline-block;
        vertical-align: top;
        width: 48%; /* for side by side */
    }

    .site-footer .contact-us {
        margin-right: 4%; /* add space between the columns */
    }

    .site-footer .delivery-areas {
        margin-right: 0; /* ensure there is no extra margin on the right side */
    }
}

@media (min-width: 1024px) {
    .site-footer {
        padding: 50px 20px;
    }

    .site-footer .contact-us,
    .site-footer .delivery-areas {
        width: 49%; /* adjust the width for very large devices */
    }
}