body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-body;
	font-family: $font__main;
	font-size: 1rem;
	font-weight: $font__weight_main;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
