
nav.main-navigation {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 15px;
}

button.menu-toggle {
    padding: 30px;
    padding-bottom: 0px;
    position: relative;
    display: block;
    cursor: pointer;
    background: none;
    border: 0;

    &:focus {
        outline: none;
    }
}


.hamburger-icon,
.hamburger-icon:before,
.hamburger-icon:after {
    background-color: black;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 30px;
}

.hamburger-icon {
    top: 10px;
}

.hamburger-icon:before {
    top: -8px;
}

.hamburger-icon:after {
    top: 8px;
}

.main-navigation.toggled button.menu-toggle .hamburger-icon {
    background: transparent;

    &:before {
        transform: translateY(8px) rotate(45deg);
    }

    &:after {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; 
}

.main-navigation li {
    margin: 5px 0; 
}

.main-navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #0073e6;
}

// Responsive Styling
@media (max-width: 768px) {
    button.menu-toggle {
        display: block; 
    }

    .main-navigation.toggled ul {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
}

@media (min-width: 769px) {
    .main-navigation ul {
        display: flex; 
        justify-content: center; 
        flex-direction: row; 
    }

    .main-navigation li {
        margin: 0 15px; 
    }

    button.menu-toggle {
        display: none; 
    }
}






  
 
  
  

