nav.main-navigation {
    background-color: $color__brand-color;
    color: $color__text-header;
    box-shadow: 0 2px 4px $color__box-shadow;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex; 
    justify-content: space-between; /* space between logo and hamburger menu */
    align-items: center; /* align items vertically */
    width: 100%;
}

.logo {
    display: flex;
    justify-content: flex-start; /* align logo to the left */
    align-items: center;
    flex-grow: 1; /* allows the logo to take up necessary space */
}

.logo img {
    max-width: 170px;
}

button.menu-toggle {
    padding: 30px;
    padding-bottom: 0px;
    position: relative;
    display: block;
    cursor: pointer;
    background: none;
    border: 0;
    margin-left: auto; /* pushes the button to the right */
}

.hamburger-icon,
.hamburger-icon:before,
.hamburger-icon:after {
    background-color: $color__background;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 30px;
}

.hamburger-icon {
    top: 10px;
}

.hamburger-icon:before {
    top: -8px;
}

.hamburger-icon:after {
    top: 8px;
}

.main-navigation.toggled button.menu-toggle .hamburger-icon {
    background: transparent;
}

.main-navigation.toggled button.menu-toggle .hamburger-icon:before {
    transform: translateY(8px) rotate(45deg);
}

.main-navigation.toggled button.menu-toggle .hamburger-icon:after {
    transform: translateY(-8px) rotate(-45deg);
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* hide on default, show on toggle */
}

.main-navigation li {
    margin: 5px 0; 
}

.main-navigation a {
    text-decoration: none;
    color: $color__text-header;
    font-weight: $font__weight_h;
    padding: 10px;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: $color__text-header;
}

@media (max-width: 970px) {
    .main-navigation.toggled {
        display: flex;
        justify-content: center; /* centers whole navigation */
        align-items: center;
        width: 100%; 
        background-color: $color__background-toggled-header;
        box-shadow: 0 2px 5px $color__box-shadow; /* add shadow for depth */
        padding: 20px; 
        transition: all 0.3s ease; 
    }
    
    .main-navigation.toggled ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* ensures the ul takes the full width of the parent container */
        list-style: none; /* remove bullet points from list items */
        padding: 0; /* reset padding */
    }
    
    .main-navigation.toggled li {
        margin: 10px 0; /* adjusts the vertical margin for each list item */
        transition: transform 0.3s ease; /* smooth transition for hover effect */
    }
    
    .main-navigation.toggled li a {
        color: $color__background; 
        text-decoration: none; 
        font-size: 16px; 
        font-weight: $font__weight_h; 
        padding: 10px 20px; /* add padding to increase target area */
        border-radius: 5px; 
        transition: background-color 0.3s ease; 
    }
    
    .main-navigation.toggled li a:hover {
        background-color: $color__brand-color; 
    }
    
    
    .main-navigation.toggled li:hover {
        transform: scale(1.05); /* slightly increase size on hover */
    }
    

    button.menu-toggle {
        position: absolute; 
        right: 30px; /* adds some space from the right edge */
        top:50px; 
        z-index: 100; /* ensure it's above other content */
    }
}

@media (min-width: 971px) {
    .main-navigation ul {
        display: flex; 
        justify-content: center; 
        flex-direction: row; 
    }

    .main-navigation li {
        margin: 0 15px; 
    }

    button.menu-toggle {
        display: none; 
    }
}

