a {
	color: $color__brand-color;

	&:visited {
		color: $color__brand-color;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__brand-color;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
