$color__background: #f1e4de;
$color__background-toggled-header: #18554d;
$color__box-shadow: rgba(0,0,0,0.2);
$color__text-body: #000;
$color__text-header: #fff;
$color__text-footer: #fff;
$color__brand-color: #315C4C;